body {
  background: #816687;
  font-family: Arial, sans-serif;
}

#header {
   background: #D3CCC3;
   padding: 5px;
   border: solid 2pt #000;
   text-align: center;
   width: 500px;
   margin: auto;
}

article {
  margin: 10px;
  border: solid 1pt #000;
  padding: 15px;
  background: #C0D0D0;
}

#no-script {
  margin: 10px;
  border: solid 1pt #000;
  padding: 15px;
  text-align: center;
  background: #FF0000;
  font-weight: bold;
  font-size: 28px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-size: 22px;
  font-weight: bold;
}

#main {
   margin-top: 10px;
   background: #D3CCC3;
   border: solid 2pt #000;
   width: 100%;
}

.cover {
   display: inline-block;
   padding: 10px;
   text-align: center;
   vertical-align: top;
   cursor: pointer;
}

.cover img {
  box-shadow: 8px 8px 3px #888;
}

.author {
  font-style: italic;
  color: #35797B;
}

.hover {
  background: #B5986E; 
}