.fa {
    color: #28a745;
}

.navbar{
    font-family: 'Permanent Marker', cursive;
    color: #28a745;
}

.card-text{
    height: 20vh;
    overflow: hidden;
}

#navbarDropdownMenuLink {
    color: #28a745;
}

#productions > img{
    max-height: 8vh;
    margin:1%;
}

article{
    margin-left: 2%;
}